{% extends 'base_2.jinja'%}

{% block content %}
<div class="descriptionDiv">
    <h2>Your profile</h2>
    <div class="form-2">
        <a href="#" class="card">
            <div class="content">
                <img src="/static/imgs/profile.jpg" alt="Card Image" height="390" width="390">
                <div class="card-body">
                    <div class="title">{{user.first_name}}</div>
                    <div class="title">{{user.last_name}}</div>
                    <form class="form-inline" action="profile/edit" method="">
                        <input type="submit" value="Edit">
                    </form>
                    <form class="form-inline" action="profile/delete" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </a>

        {% endblock %}